body {
    background-color : #001900;  /* Black with a hint of green */
}
div.container {
   width: 100%;
   height: 100%;
}
div {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1.1em;
    color: rgba(0,0,0,0);
    position: absolute;
    top: 0px;
}
@keyframes flare {
   12% {
       color: rgba(255,255,255,1);
   }
   20% {
       color: rgba(0,255,0,1);
   }
   100% {
       color: rgba(0,255,0,0);
   }
}
