body {
    background-color : black;
}
div {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 2em;
    width: 2em;
    color: rgba(0,0,0,0);
    position: absolute;
    top: 0px;
}

@keyframes flare {
   12% {
       color: rgba(255,255,255,1);
   }
   20% {
       color: rgba(0,255,0,1);
   }
   100% {
       color: rgba(0,255,0,0);
   }
}
